<div class="container-fluid mt-2">

    <div>
        <span class="display-4 text-muted">Admin Profile</span>
    </div><hr>

    <div class="row">
        <div class="col-md-4 justify-content-center">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <img src="../../../assets/img_avatar1.png" class="mx-auto d-block" alt="John" style="width:75%">
                <h2 class="p-1 m-1 text-monospace">Admin</h2>
                <h3>{{this.adminid}}</h3>
                <p class="title">CEO & Founder, philanthropist,<br>
                    Osmania University</p>
            </div>
        </div>

        <div class="col-md-7 justify-content-center mt-1">
            <div class="card shadow p-3 mb-4 bg-white rounded">
                <h3 class='text-black-50 text-center'>About Admin</h3>
                <div class="card-body">
                    <p class="card-text text-monospace">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Temporibus impedit
                        dolore porro fugiat consequuntur dolorum quaerat. Alias quod distinctio sequi! Nisi porro
                        pariatur iusto fugiat! Veritatis commodi qui nostrum illum?</p>
                </div>
            </div>
            <div class="text-center"><br>
                <a href="#" class="p-2"><i class="fa fa-dribbble"></i></a>
                <a href="#" class="p-2"><i class="fa fa-twitter"></i></a>
                <a href="#" class="p-2"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="p-2"><i class="fa fa-facebook"></i></a>
            </div>
        </div>

    </div>
</div>