<div id="bg">
    <div class="container" style="margin-top: 56px;">
        <div class="row">
            <div class="col-sm-4" style="margin-top: 80px;">
                <div class="card shadow rounded">
                    <div class="card-body">
                        <h2 class="text-dark"> <b class="text-secondary"> About </b>us</h2>
                        <p> <i class="text-muted"> We are group of web developers trained in popular technologies from
                                reputed institutes
                                and working together to deliver user friendly applications that gives user a hastle free
                                work experiance.
                            </i> </p>
                        <p> <i class="text-muted">
                                We try to impliment minimalistic and simple designs for the users to stay involved in
                                work flow with
                                diffenent and useful functionalities in stress free environment which leads to more
                                productivity.
                                our Team provides optimization and 24/7 support to make your day productive and best to
                                use.
                            </i> </p>
                        <div class="text-right">
                            <button class="btn btn-warning text-light shadow rounded rounded-pill">Learn more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8" style="margin-top: 80px;">
                <div class=" shadow rounded">
                    <img src="../../assets/images/3566651.jpg" alt="about us image" height="450px" width="100%">
                </div>
            </div>
        </div>

    </div>

    <footer class="page-footer font-small" style="margin-top: 80px; padding-bottom: 40px;">
        <div class="footer-copyright text-center  py-3">© 2020 Copyright:
            <a href="#" class="text-light"> IMS.com</a>
        </div>
    </footer>

</div>