<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="col-sm-3"></div>

        <div class="col-sm-6" style="margin-top: 125px;">
            <!-- check email and send otp -->
            <div class="text-center" id="sendusermail" *ngIf='sendusermail'>
                <h2 class="text-center text-black-50 p-2 m-2">forgot password</h2>
                <div class="card shadow p-3 mb-4 bg-white rounded">

                    <form #ref9='ngForm' (ngSubmit)='checkmail(ref9.value)'>
                        <div class="form-group m-4">
                            <input type="email" placeholder="Enter your email" name="email"
                                class="form-control rounded-pill" #ref0=ngModel required ngModel>
                            <!-- validation condition -->
                            <div *ngIf='ref0.invalid && ref0.touched'>
                                <p class="text-danger"> *this field is required*</p>
                            </div>
                        </div>
                        <div>
                            <button type="submit" [disabled]='ref9.invalid'
                                class="btn mt-1 rounded-pill btn-sm btn-primary">Get otp</button>
                        </div>
                    </form>

                </div>
                <p class="text-muted"> <b>Note :</b> please enter your registered email</p>
            </div>

            <!-- checking otp -->
            <div class="text-center" id="chkotp" *ngIf='chkotp'>
                <h2 class="text-center text-black-50 p-2 m-2">verification</h2>
                <div class="card shadow p-3 mb-4 bg-white rounded">
                    <form action="" #ref10='ngForm' (ngSubmit)='checkOtp(ref10.value)'>
                        <div class="form-group m-4">
                            <input type="number" name="OTP" placeholder="Enter your otp"
                                class="form-control rounded-pill" ngModel #ref1=ngModel required>
                            <!-- validation condition -->
                            <div *ngIf='ref1.invalid && ref1.touched'>
                                <p class="text-danger"> *enter otp*</p>
                            </div>
                        </div>
                        <div>
                            <button type="submit" [disabled]='ref10.invalid'
                                class="btn mt-1 rounded-pill btn-sm btn-warning text-white">verify</button>
                        </div>
                    </form>
                </div>
                <p class="text-muted"><b>Note :</b> please enter otp which is sent to your registered email
                    it will expire in <span id="timer" class="text-danger">120</span> seconds</p>
            </div>

            <!-- creating new password -->
            <div class="text-center" id="createnewpwd" *ngIf='createnewpwd'>
                <h2 class="text-center text-black-50 p-2 m-2">Create new password</h2>
                <div class="card shadow p-3 mb-4 bg-white rounded">

                    <form #ref11='ngForm' (ngSubmit)='updatepwd(ref11.value)'>
                        <div class="form-group m-4">
                            <input type="password" name="pwd0" placeholder="new password"
                                class="form-control rounded-pill" ngModel #ref2=ngModel required>
                            <!-- validation condition -->
                            <div *ngIf='ref2.invalid && ref2.touched'>
                                <p class="text-danger"> *this field is mandatory*</p>
                            </div>
                        </div>
                        <div class="form-group m-4">
                            <input type="password" name="pwd" placeholder="Confirm password"
                                class="form-control rounded-pill" ngModel #ref3=ngModel required>
                            <!-- validation condition -->
                            <div *ngIf='ref3.invalid && ref3.touched'>
                                <p class="text-danger"> *this field is mandatory*</p>
                            </div>
                        </div>
                        <div>
                            <button type="submit" [disabled]='ref11.invalid'
                                class="btn mt-1 rounded-pill btn-sm btn-success text-white">submit</button>
                        </div>
                    </form>
                </div>
                <p class="text-muted"><b>Note :</b> Create new password which is alphanumeric and minimum 8 characters
                </p>
            </div>
        </div>

        <div class="col-sm-3"></div>
    </div>
</div>


